*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    background-color: black;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem;
    color: white;
}

form label{
    display: inline-block;
    width: 100px;
    margin: 5px;
    padding: 5px;
    
}

form input{
    background-color: black;
    border: 1px solid white;
    color: white;
    margin: 5px;
    display: inline-block;
    padding: 5px;
    width: 300px;
}

form button{
    display: inline-block;
    width: 412px;
    padding: 5px;
    margin: 5px;
    color: black;
}

.table table{
    border: 1px solid white;
    height: 400px;
    width: 100%;
    border-collapse: collapse;
}

th,td{
    border: 1px solid white;
}