*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    background-color: black;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem;
    color: white;
}

form label{
    display: inline-block;
    width: 100px;
    margin: 5px;
    padding: 5px;
    font-size: 17px;
    
}

form input{
    background-color: black;
    border: 1px solid white;
    color: white;
    margin: 5px;
    display: inline-block;
    padding: 5px;
    width: 300px;
}

form button{
    display: inline-block;
    width: 412px;
    padding: 5px;
    margin: 5px;
    color: black;
    font-size: 16px;
}

.table table{
  width: 100%;
  outline: 1px solid white;
  border-collapse: collapse;
}

th,td{
    border-bottom: 1px solid white ;
    border-right: 1px solid white;
    padding: 15px 4px;
    text-align: center;
    font-size: 17px;
}

.btn-icon{
    display: inline-block;
    width: 30px;
    background-color: black;
    color:white;
    
}

.btn-icon i{
    font-size: 30px;
}


#status{
    display: flex;
}





